/* Index Styles */

#title {
    font-weight: 500;
    font-size: 6vw;
    text-align: center;
    background-image: url(../img/clouds.gif);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.light {
    font-weight: 200;
}