@import url('https://fonts.googleapis.com/css?family=Quicksand:300,700');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@font-face {
	font-family: 'Scribble';
	src: url('//2ttf.com/webfont/OhIY3lSG/webfont.ttf') format('truetype');
}

@keyframes car-drift{
    from {transform: translateX(30%)}
    to {transform: translateX(-130%)}
}

@keyframes pushbtn-drift{
    0% {transform: translateX(200%)}
    50% {transform: translateX(-90%)}
    100% {transform: translateX(200%)}
}

@keyframes pedals-drift{
    0% {transform: translateY(100%)}
    25% {transform: translateY(50%)}
    50% {transform: translateY(50%)}
    75% {transform: translateY(50%)}
    100% {transform: translateY(100%)}
}

:root {
    --peterriver: #3498db;
    --belizehole: #2980b9;
    --turquoise: #1abc9c;
    --greensea: #16a085;
    --amethyst: #9b59b6;
    --wisteria: #8e44ad;
}

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 150%;
}

h1 {
    font-size: 225%;
    line-height: 1em;
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
}

strong {
    text-decoration: none;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 3rem;
}

.section {
    width: 100vw;
    min-height: 100vh;
}

.down-div, .replay-div {
    padding-top: 20vh;
}

.btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: .5;
    transition: opacity .5s;
}

.btn:hover {
    opacity: 1;
}

.down {
    width: 5rem;
}

.home {
    width: 3rem;
}

#intro {
    background-color: var(--peterriver);
}

#step1 {
    background-color: var(--belizehole);
}

#step2a, #step3a {
    background-color: var(--turquoise);
}

#step4a {
    background-color: var(--greensea);
}

#step2b, #step3b {
    background-color: var(--amethyst);
}

#step4b {
    background-color: var(--wisteria);
}

.title {
    margin-top: 1em;
}

@media (pointer: coarse) {
    .trans-button, .trans-desc {
        opacity: 1;
    }
}

/* Step 1 */

#car-div {
    overflow: hidden;
    position: relative;
    height: 100%;
    top: 50%;
    transform: translateY(25%);
}

.car {
    position: relative;
    width: 300%;
    left: 50%;
    animation: car-drift;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.trans {
    display: block;
}

.trans-button {
    position: relative;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: white;
    margin-top: 1em;
    opacity: .5;
    transition: opacity .5s;
}

.trans-button:hover{
    opacity: 1;
}

.trans-button:hover + .trans-desc{
    opacity: 1;
}

.trans-desc {
    margin-bottom: 5em;
    font-size: 80%;
    text-align: center;
    opacity: 0;
    transition: opacity .5s;
}

/* Step 2 */

.switch {
    text-decoration: underline;
    font-weight: 700;
}

.dash {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#dash-auto {
    background-image: url(../img/dash_auto.svg);
    /*background-position: 15% 30%;*/
}

#dash-manual {
    background-image: url(../img/dash_manual.svg);
    /*background-position: 20% 30%;*/
}

#dash-desc {
    color: darkgray;
    font-size: 70%;
    text-align: center;
    margin-top: 1.5em;
}

/* Step 3 */

#step3-illustration1 {
    position: relative;
    text-align: center;
}

#step3-illustration2 {
    position: relative;
}

#pushbutton {
    width: 40%;
}

#finger {
    position: absolute;
    top: 30%;
    width: 20%;
    animation: pushbtn-drift;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transform: translateY(-30%);
}

#pedals {
    width: 70%;
    border-radius: 50%;
}

.shoe {
    position: absolute;
    width: 10%;
    animation: pedals-drift;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

#shoe-manual {
    left: 35%;
}

#shoe-auto {
    left: 45%;
}

/* Step 4 */

#roads {
    width: 100%;
}
